.result, .result-loading {
  visibility: hidden;
}

.result, .table {
  background-color: rgba(211, 211, 211, 0.5);
}

#name {
  color: #cc5500;
}

#loading {
  height: 30%;
  width: 30%;
}

td {
  font-size: 85%;
}

.restURL {
  font-size: 150%;
  color: #cc5500;
}
